<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30000">
    <setting id="sep1" label="30000" type="lsep"/>
    <setting id="restapiurl" type="text" label="30001" default="http://omniyon.local/rest/tv/channels/kodi" />
    <setting id="epgapiurl" type="text" label="30002" default="http://omniyon.local/rest/tv/programs/kodi" />
    <setting id="radioapiurl" type="text" label="30003" default="http://omniyon.local/rest/radio/channels/kodi" />
  </category>
</settings>
